/* Lime Theme: modifies the default theme to inject a wee bit o' teal in various places. */

/* Use Open Sans as the default font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-teal1: #136c69;
  --tf-teal2: #4fa698;
  --tf-teal3: #85c2ba;
  --tf-teal4: #dff2f1;
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--tf-teal1);
  --tf-pill-bg: var(--tf-teal3);
  --tf-icon-fill: var(--tf-teal1);
  --tf-icon-hover: var(--tf-teal2);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--tf-teal4);
  --tf-projects-bg-color: var(--tf-teal4);
}

h1,h2,h3,h4,h5 {
  color: var(--tf-teal1);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-teal1);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}
